

body    {
    margin:0;
    padding:30px 50px 120px;
    font-size: 20px;
    font-weight:700;
    color: #2e1c05;
    background-image:url(./images/papirus.png);
    background-size: cover;
}


.header-container   {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap:wrap;
    padding:40px 20px 20px;
}

nav{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}


nav a {
    margin-left: 20px;
    padding: 10px;
    color: rgb(114, 5, 5);
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}


a:hover {
    color: #8b5a2b;
    text-shadow: 
    0 0 6px rgba(184, 134, 11, 0.6),
    0 0 10px rgba(184, 134, 11, 0.4);
}


h1{
    padding-left: 50px;
    font-size: 58px;
    color: #4a2c0a;
    text-decoration: underline;
    text-shadow:
    0 0 4px rgba(64, 41, 15, 0.6),
    0 0 8px rgba(109, 74, 32, 0.5),
    0 0 12px rgba(161, 113, 59, 0.4);
}


.subhead-title  {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 20px;
    font-size: clamp(28px, 4.5vw, 40px);
    text-shadow: 0 0 4px rgba(109, 74, 32, 0.40);
}

span    {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
}

li  {
    padding-bottom: 10px;
}

summary{
    font-size: 25px;
    font-weight:800;
    cursor: pointer;
    transition : color 0.3s ease, text-shadow 0.3s ease;
}

summary:hover {
    display: inline-block;
    color: rgb(4, 93, 9);
    text-shadow: 0 0 6px rgba(4, 93, 9, 0.6);
    transform: scale(1.3);
}

section {
    position: relative;
    padding: 20px;
 }


#metaph-img, #virtue-img, #logic-img, #empir-img, #existenc-img, #utilit-img {
    position: relative;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center;
    min-height: 16vh;
}


#metaph-img  {background-image: url(./images/metaphysics.png);color: whitesmoke;}
#virtue-img  {background-image: url(./images/VirtEt.png);}
#logic-img  {background-image: url(./images/rational.png); color:yellow;}
#empir-img  {background-image: url(./images/empir.png);}
#existenc-img {background-image: url(./images/Existenc.png);}
#utilit-img {background-image: url(./images/utilit.png);}
   

.section-title {
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 2.0vw;
    font-weight: bold;
}

.first-debate   {
    padding: 0 20px 30px;
}

#metaphys-highlight     {background-color: gold; color: black;}
#virtEt-highlight       {background-color: rgb(250, 8, 165);}
#rationalism-highlight  {background-color: black;}
#empirism-highlight     {background-color: whitesmoke;}
#exist-highlight        {background-color: rgb(8, 223, 8);}
#utilit-highlight       {background-color: red;}



#metaphys-highlight, #virtEt-highlight, #rationalism-highlight, #empirism-highlight, #exist-highlight, #utilit-highlight    {
   border-radius: 3px;
    padding: 2px 4px; 
} 
    
    
.back-to-top    {
  display: block;
  text-align: right;
  margin-top: 15px;
  font-size: 18px;
  color: purple;
  font-weight: bold;
  text-decoration: none;
 }

.back-to-top:hover {
  color: rgb(4, 93, 9);
  
}

h3{
    padding-top: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder
}

h4{
    text-align: center;
    font-size: 30px;
}

.footer   {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 18px;
}